body{
    background: linear-gradient(70deg, rgb(34, 34, 34), rgb(37, 37, 37));
}

.destinations-list li{
    color:rgb(54, 54, 54);
}

main ul{
    width: 70%;
    margin: 100px auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 25px ;
}

main li {
    width: 100%;
    overflow: hidden;
    display: flex;
    background-color: rgb(233, 233, 233);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* li:first-of-type{

} */

main li:hover{
    background-color: rgb(211, 211, 211);
}

main li:nth-of-type(3){
    grid-column: 1 / 3;
    width: 100%;
}

main li:last-of-type{
    grid-column: 1 / 3;
    width: 100%;
}

.destination-card-content h2 {
    margin-bottom: 10px;
}

main li img{
    width: 300px;
    height: 100%;
    object-fit: cover;
}

.destination-card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.destination-action {
    text-align: right;
    margin: 10px;
}

.destination-action a {
    color: rgb(81, 120, 172);
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

.destination-action a:hover {
    color: rgb(95, 121, 153);
    background-color:  rgba(163, 196, 238, 0.39);
}