header {
    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    box-sizing: border-box;

    top: 0;
    padding: 2em 4em 1em;
    z-index: 10;
}

#destinations-header {
    background-color: rgba(36, 36, 36, 0.7);
    color: rgb(11, 46, 75);
}

#home-header {
    background-color: rgba(192, 192, 192, 0.466);
}

#page-logo a{
    font-family: 'Oleo Script', 'sand-serif';
    font-size: 3em;
    color: hsl(49, 100%, 61%);
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.25);
}

#destinations-header #page-logo a {
    color: rgb(20, 79, 128);
}

header ul {

    width: 400px;

    display: flex;
    justify-content: end;
    text-align: right;
}

header li a {
    color: rgb(255, 245, 198);
    font-size: 1.5em;
    width: 150px;
    padding: 0.5em;
    margin: 2em;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.25);
}

header li a:hover {
    color: rgb(75, 75, 75);
    background-color: rgb(255, 245, 198);
    width: 150px;
    border-radius: 10px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.25);
}

#destinations-header li a {
    color: rgb(36, 111, 173);
}

#destinations-header li a:hover {
    background-color: rgba(133, 133, 133, 0.178);
    color: rgb(108, 173, 226);
}

